/* src/styles/App.css */
nav {
  background: lightgreen;
  padding: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: purple;
  text-decoration: none;
}

h1, h2 {
  color: purple;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  font-size: 60px;
}